.projetos{
    padding-block: 90px;

}


.projetos h2{
    text-align:  center;
}

.lista{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block: 2.5rem;

}



/* Celular. */

@media (min-width: 300px) and (max-width: 600px) { 
 

  

   
    
   }  

   /* Tablet  */
   
@media (min-width: 768px ) and (max-width: 992px) { 
 

  

   
    
   }  
















