.projetos h2{
    text-align:  center;
    padding: 90px 90px 30px 10px;
}

.lista{
    width: 80%;
    padding-left: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block: 1rem;
}

