.projetos h2{
    text-align:  center;
    padding-block: 100px;

}

.lista{
    width: 100%;
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block: 1rem;



   
    
       

}

