/* CSS da page Home */
.apresentacao{
    width: 100%;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.apresentacao img{
    height: 500px;
}

.apresentacao p {
    font-size: 53px;
    font-weight: bold;
    margin-bottom: 16px;
}

.apresentacao span{
    color: var(--red);
}



/* css da page Home */
.home {
    width: 100%;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home img {
    height: 500px;
}

.home p {
    font-size: 3rem; /* 48px */
    font-weight: bold;
    margin-bottom: 1rem;
}

.home span {
    color: var(--red);
}

.btn {
 
    font-size: 1.50rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.btn_red {
    background-color: var(--red);
    color: white;
    padding: 5px;
    
}

.btn_red:hover {
    background-color: var(--primary);
}

