/* CSS da page Home */
.apresentacao{
    width: 100%;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.apresentacao img{
    height: 500px;
}

.apresentacao p {
    font-size: 53px;
    font-weight: bold;
    margin-bottom: 16px;
}

.apresentacao span{
    color: var(--red);
}

/* css da page Home */
.home {
    width: 100%;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home img {
    height: 500px;
}

.home p {
    font-size: 3rem; /* 48px */
    font-weight: bold;
    margin-bottom: 1rem;
}

.home span {
    color: var(--red);
}

.btn {
 
    font-size: 1.50rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.btn_red {
    background-color: var(--red);
    color: white;
    padding: 5px;
    
}

.btn_red:hover {
    background-color: var(--primary);
    transition: all 0.5s;
}




/* Celular. */

@media (min-width: 300px) and (max-width: 600px) { 
 

  

    .home p{
        margin-bottom: 280px;
        margin-right: 100px;
        
        font-size: 27px;  
        position: fixed;

  
    } 
    .home img{
        
        width: 230px;
        display: flex;
        padding-top: 160%;
        margin-left: -110px;
        
    
        
    
    }

    .btn{
        
        font-size: 16px;
        display: flex;
       
        
    
    }
    
   }  

   /* Tablet  */
   
@media (min-width: 768px ) and (max-width: 992px) { 
 

  

    .home p{
        margin-bottom: 150px;
        font-size: 40px;  
        position: fixed;

  
    } 
    .home img{
        
        width: 300px;
        display: flex;
        padding-top: 100%;
        margin-right: 50%;
        
    
    }

    .btn{
        
        font-size: 25px;
        display: flex;

       
        
    
    }
    
   }  















