.card{
    width: 300px;
    height: 300px;
    background-color: var(--soft-white);
    color: var(--gray);
    border-radius: 8px;
    box-shadow: 5px 5px 10px #2222222c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card h3 {
    color: var(--primary);

}

.card p {
    color: #555;

}

.card_footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card_icones{
    display: flex;
    gap: 10px;
    color: var(--red);
    font-size: 24px;
}

.botao{
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    background-color: var(--primary);
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botao:hover{
    background-color: var(--red);
    transition: all 0.5s;
}


/* Celular. */

@media (min-width: 300px) and (max-width: 600px) { 
 
    .card{
        width: 180px;
        height: 150px;
        background-color: var(--soft-white);
        color: var(--gray);
        border-radius: 8px;
        box-shadow: 5px 5px 10px #2222222c;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-left: 5px;
    }
    
    .card h3 {
        color: var(--primary);
    
    }
    
    .card p {
        color: #555;
    
    }
    
    .card_footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .card_icones{
        display: flex;
        gap: 3px;
        color: var(--red);
        font-size: 20px;
    }
    
    .botao{
        width: 30px;
        height: 30px;
        border: 0;
        border-radius: 8px;
        background-color: var(--primary);
        color: white;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      
    }
  

   
    
}  


