
.sobre {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bio {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
    
}

.bio span {
    color: var(--red);
    font-weight: bolder;
}

.bio strong {
    color: var(--secondary);
    font-weight: bold;
}

.textos h2, p {
    margin-bottom: 1rem;
}

.techs {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icones img {
    height: 50px;
}

.avatar{
 height: 360px;   


}




@media (min-width: 380px) and (max-width: 600px) { 
    
    .bio {
        flex-direction: column;
        padding-inline: 20px;
        gap: 1rem;
        padding-block: 20px;
    }
    .bio img {
        max-width: 100%;
        height: 250px;
        margin-top: 15%;
    }

.textos h2{
    font-size: 27px;
}

.techs h3{
    font-size: 27px;

    
}

    .icones {
        gap: 0.5rem;
    }
    .icones img {
        height: 40px;
        display: flex;
        margin-top: -150px;
        
    }






}

















   