
.sobre {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bio {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
    
}

.bio span {
    color: var(--red);
    font-weight: bolder;
}

.bio strong {
    color: var(--secondary);
    font-weight: bold;
}

.textos h2, p {
    margin-bottom: 1rem;
}

.techs {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icones img {
    height: 50px;
}

.avatar{
 height: 360px;   


}



/* Celular. */

@media (min-width: 300px) and (max-width: 600px) { 
 

    .sobre{
        position: fixed;
        margin: 20%;
        display: block;



      
        
    }

 

    .textos p{
         
        font-size: 12px;
        margin-right: 50px;

       
   
         
    } 
    .textos h2{
        font-size: 14px;
       
    }

    .avatar{
       
        width: 150px;
        height: auto;
        padding: 0px;
        
    }


    /* Icones  */
    .techs h3{
         margin-left: 20%;
        font-size: 14px;
        
    }

    .icones{
        gap: 1.5em;
        margin-left: 20%;
   
      
        
    }

    
   }  

   /* Tablet  */
   
@media (min-width: 768px ) and (max-width: 992px) { 
 

  

    .home p{
        margin-bottom: 150px;
        font-size: 40px;  
        position: fixed;

  
    } 
    .home img{
        
        width: 300px;
        display: flex;
        padding-top: 100%;
        margin-right: 50%;
        
    
    }

    .btn{
        
        font-size: 25px;
        display: flex;

       
        
    
    }
    
   }  


