
.sobre {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bio {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
    
}

.bio span {
    color: var(--red);
    font-weight: bolder;
}

.bio strong {
    color: var(--secondary);
    font-weight: bold;
}

.textos h2, p {
    margin-bottom: 1rem;
}

.techs {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icones img {
    height: 50px;
}

.avatar{
 height: 360px;   


}



/* Celular. */

@media (min-width: 300px) and (max-width: 600px) { 
 

    .sobre{
        padding-left: 55%;
        padding-right: 100%;
        position: fixed;
      
        
    }

    .textos p{
        font-size: 12px;  
        margin-left: -300px;

        
    } 
    .textos h2{
        font-size: 25px;
        margin-left: -300px;
    }

    .avatar{
        width: 150px;
        height: 150px;
        display: flex;
        margin-top: -110px;
        margin-right: -25%;
        margin-left: 500px;
        
        
    }

    .techs h3{
        font-size: 25px;
        margin-right: -200px;
        margin-top: 45px;
        
    }

    .icones{
        width: 150px;
        height: 150px;
        display: flex;
        margin-left: 190px;
        margin-top: 40px;
        gap: 1em;
        position: fixed;
      
        
    }

    
   }  

   /* Tablet  */
   
@media (min-width: 768px ) and (max-width: 992px) { 
 

  

    .home p{
        margin-bottom: 150px;
        font-size: 40px;  
        position: fixed;

  
    } 
    .home img{
        
        width: 300px;
        display: flex;
        padding-top: 100%;
        margin-right: 50%;
        
    
    }

    .btn{
        
        font-size: 25px;
        display: flex;

       
        
    
    }
    
   }  


